/* 
Theme Name: Antique
Author: Hugo Bachmann
*/

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    position: absolute;
    width: 100%;
    z-index: 1;
}


.register{
    color: white;
}

/* top Page */

#logo{
    top: 25px;
}

#logo img{
    width: 70%;
    height: auto;
}

#main_menu ul{
    display: flex;
}

#main_menu ul li{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 20px;
    list-style-type: none;
    margin-left: 50px;
}

#main_menu ul li a{
    color: #393937;
    transition: .3s;
}

#main_menu ul li a:hover{
    color: #FF5C00;
    text-decoration:none; 
}

.menu-menu-principale-container{
    margin-top: 60px;
    float: right;
}

#top_view{
    padding-top: 160px;
    height: 100vh;
    min-height: 979px;
    max-height: 979px;
    background-color:#EBEBE9;
}

#title h1{
    font-family: 'Impact';
    font-size:150px;
    margin-left: 210px;
    margin-top: 100px;
    text-transform: uppercase;
    opacity: .4;
}

.title_part{
    letter-spacing: 10px;
}

.top_container{
    position: relative;
}

#img_top img{
    position: absolute;
    width: 41.8%;
    height: auto;
    left: -210px;
}

#slogan{
    width: 500px;
    position: absolute;
    bottom: -120px;
    right: -15px;
}

#slogan p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #959595;
}

#btn_plus a{
    position: absolute;
    bottom: -170px;
    right: 314px;
    color: #FF5C00;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .3s;
}

#btn_plus a:hover{
    text-decoration: none;
    color: #393939;
}

/* middle Page */

#middle_container{
    position: relative;
}

#middle_view{
    height: 100vh;
    min-height: 979px;
    max-height: 979px;
}

#title_middle{
    position: absolute;
    top: 210px;
    left: -80px;
    z-index: 1;

}

#title_middle h2{
    font-family: 'impact';
    font-size: 75px;
    text-transform: uppercase;
    color: #494949;
    letter-spacing: 2px;

}

#presentation{
    border: solid 3px #FF5C00;
    height: 550px;
    width: 420px;
    padding: 20px;
    padding-top: 200px;
    position: absolute;
    top: 200px;
    left: 270px;
}

#presentation p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #747474;

}

#img_middle{
    position: absolute;
    top: 151px;
    right: -215px;
}

#btn_plus_middle a{
    position: absolute;
    top: 700px;
    left: 293px;
    color: #FF5C00;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .3s;
}

#btn_plus_middle a:hover{
    text-decoration: none;
    color: #393939;
}

/* bottom Page */

#bottom_view{
    color: white;
    background-color: #292929;
}

#bottom_title{
    margin: 0 auto;
}

#bottom_title h2{
    padding-top: 90px;
    padding-bottom: 50px;
    font-family: 'impact';
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#team{
    max-width: 85%;
}

#team{
    margin: 0 auto;
}

#team p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/* section img */
#img_presentation{
    margin: 0 auto;
}

#img_presentation img{
    border: solid 3px #EBEBE9;
}

#img_left{
    display: flex;
}

#img_right{
    display: flex;
}

#img_presentation img{
    width: 525px;
    margin: 15px;
    height: auto;
    filter: grayscale(100);
    transition: .5s;
}

#img_presentation img:hover{
    filter: grayscale(0);
}

.txt_img{
    text-align: center;
}
/* Recette */

#recette{
   height: auto;
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
}

#recette_title{
    margin-bottom: 25px;
    margin-left: 15px;
    font-family: "impact";
    letter-spacing: 2px;
    color: #494949;
}

.main_content{
    display: flex;
}

.randRecette li{
    list-style: none;
}

.recette h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: "impact";
    letter-spacing: 2px;
    color: #FF5C00;
    margin-top: 10px;
}


/* footer */

footer{
    padding-top: 45px;
    padding-bottom: 15px;
    background-color: #292929;
}

#info_legale a{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin-left: 25px;
}

#info_legale a:hover{
    color: #FF5C00;
    text-decoration: none;
}

#realisation{
    text-align: right;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: white;
}

#realisation a{
    color: #FF5C00;
    margin-right: 15px;
}

#realisation a:hover{
    text-decoration: none;
}

.regFormLeft{
    display: flex;
}

.regForm h4{
    text-transform: uppercase;
    font-size: 28px;
    font-family: "impact";
    letter-spacing: 2px;
}

.regFormRight{
    display: flex;
}

.register form p{
    margin-right: 10px;
}

.register form label{
    margin-right: 5px;
}

.footerInfo{
    display: flex;
}

.footertext{
    color: white;
    margin-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'ubuntu';
    font-weight: 500;
}


/* Aquatique */

/* page Top*/

#aqua_top_view{
    height: 100vh;
    min-height: 985px;
    max-height: 990px;
    background-color: #EBEBE9;
   
}

#box{
    position: relative;
}

#aqua_container_title{
    position: relative;
}

#aqua_title h1{
    font-family: 'Impact';
    font-size:150px;
    margin-top: 175px;
    text-transform: uppercase;
    opacity: 1;
    color: #9A9C9C;
}

.aqua_title_part{
    color: #FF5C00;
}

#aqua_img_top img{
    position: absolute;
    width: 600px;
    height: auto;
    bottom: -128px;
    right: -80px;
    filter: grayscale(100);
    transition: .5s;
    border: solid 3px #959595;

}

#aqua_img_top img:hover{
    filter: grayscale(0);
}

#aqua_btn_plus a{
    position: absolute;
    bottom: -105px;
    right: -55px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: solid 2px;
    padding: 5px;
    transition: .3s;
}

#aqua_btn_plus a:hover{
    text-decoration: none;
    color: #FF5C00;
}

#aqua_presentation p{
    padding-left: 15px;
    padding-top: 25px;
    width: 500px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #747474;
}

/* aqua Planing*/

#aqua_planing{
    height: auto;
    background-color: white;
    display: flex;
}

/*page Machine*/

#machine_top_view{
    height: 100vh;
    min-height: 975px;
    position: relative;
    background-color: #EBEBE9;
}

#machine_container_title{
    position: absolute;
    top: 175px;
    left: 0;
}

#machine_title h1{
        font-family: 'Impact';
        text-align: left;
        font-size:150px;
        text-transform: uppercase;
        color: #9A9C9C;
}

.machine_title_part{
    color: #FF5C00;
}

#machine_img_top{
    position: absolute;
    top: 530px;
    right: -80px;
    border: solid 3px #959595;
    filter: grayscale(100);
    transition: .5s;
}

#machine_img_top img{
    width: 600px;
    height: auto;
}

#machine_img_top:hover{
    filter: grayscale(0);
}

#machine_presentation{
    position: absolute;
    top: 540px;
    left: 15px;
}

#machine_presentation p{
    padding-left: 15px;
    padding-top: 25px;
    width: 500px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #747474;
}

#machine_btn_plus {
    position: absolute;
    top: 890px;
    right: -62px;
}

#machine_btn_plus a{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: solid 2px;
    padding: 5px;
    transition: .3s;
}

#machine_btn_plus a:hover{
    text-decoration: none;
    color: #FF5C00;
}

/*machine Planing*/

#machine_planing{
    background-color: white;
}

#machine_planing .regForm h4{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "impact";
    letter-spacing: 2px;
}

#machine_planing .regForm form{
    display: flex;
    justify-content: center;
}

#machine_planing .regForm form p{
    margin-right: 15px;
}

#machine_planing .regForm{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.coachs{
    display: flex;
    flex-wrap: wrap;
}

.coach{
    max-width: 250px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.presentation_coach{
    background-color: #FF5C00;
}

.desc_coach p{
    font-family: 'ubuntu';
    font-weight: 500;
}

.nom{
    text-transform: uppercase;
    font-family: "impact";
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
}

.photo img{
    height: auto;
    width: 250px;
    border: solid 3px #959595;
}

.photo{
    filter: grayscale(100);
    transition: .5s;
}

.photo:hover{
    filter: grayscale(0);
}

/*page Fitness*/

#fitness_top_view{
    height: 100vh;
    min-height: 975px;
    position: relative;
    background-color: #EBEBE9;
}

#fitness_container_title{
    position: absolute;
    top: 175px;
    left: 0;
}

#fitness_title h1{
        font-family: 'Impact';
        text-align: left;
        font-size:150px;
        text-transform: uppercase;
        color: #9A9C9C;
}

.fitness_title_part{
    color: #FF5C00;
}

#fitness_img_top{
    position: absolute;
    top: 536px;
    right: -90px;
    border: solid 3px #959595;
    filter: grayscale(100);
    transition: .5s;
}

#fitness_img_top img{
    width: 600px;
    height: auto;
}

#fitness_img_top:hover{
    filter: grayscale(0);
}

#fitness_presentation{
    position: absolute;
    top: 540px;
    left: 15px;
}

#fitness_presentation p{
    padding-left: 15px;
    padding-top: 25px;
    width: 500px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #747474;
}

#fitness_btn_plus {
    position: absolute;
    top: 900px;
    right: -75px;
}

#fitness_btn_plus a{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: solid 2px;
    padding: 5px;
    transition: .3s;
}

#fitness_btn_plus a:hover{
    text-decoration: none;
    color: #FF5C00;
}

/*fitness Planing*/

#fitness_planing{
    height: auto;
    background-color: white;
    display: flex;
}

.registerForm{
    align-items: center;
}

.widgetRegister{
    width: 100%;
   margin-left: 50px;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.table{
    margin-left: 1rem;
    margin-top: 1rem;
}

@media screen and (min-width: 200px) and (max-width: 767px) {

    #logo{
        display: none;
    }

    .menu-menu-principale-container{
        display: none;
    }

    #top_view{
        padding-top: 50px; 
    }

    #title h1{
        margin: 0;
        font-size: 38px;
    }

    #img_top{
        display: none;
    }

    #img_middle{
        display: none;
    }

    #img_presentation{
        text-align: center;
    }

    #img_left{
        flex-direction: column;
    }

    #img_right{
        flex-direction: column;
    }

    #btn_plus a{
        right: 135px;
    }

    #title_middle h2{
        font-size: 38px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    #top_view{
        min-height: 1024px;
        max-height: 1024px;
    }

    #logo img{
        width: 25%;
        height: auto;
    }

    #main_menu ul li{
        font-size: 16px;
        margin-left: 10px;
    }

    .menu-menu-principale-container{
        margin-top: -36px;
    }

    #title h1{
        font-size: 105px;
        margin-left: 25px;
        margin-top: 35px;
    }

    #img_top img{
        left: -30px;
        bottom: -568px;
    }

    #slogan{
        width: 430px;
        position: absolute;
        bottom: -360px;
        right: 0px;
    }

    #btn_plus a{
        bottom: -400px;
        right: 256px;
    }

    #middle_view{
        min-height: 1024px;
        max-height: 1024px;
    }

    #title_middle{
        top: 25px;
        left: 25px;
    }

    #title_middle h2{
        font-size: 55px;
    }

    #presentation{
        top: 300px;
        left: 306px;
        z-index: 1;
    }

    #img_middle{
        top: 527px;
        right: 90px;
    }

    #img_middle img {
        width: 60%;
        height: auto;
    }

    #btn_plus_middle a {
        top: 805px;
        left: 330px;
    }

    #img_presentation{
        text-align: center;
    }

    #img_left{
        flex-direction: column;
    }

    #img_right{
        flex-direction: column;
    }

    #aqua_title h1{
        font-size: 54px;
    }

    #aqua_img_top img{
        right: 35px;
        bottom: -436px;
    }

    #aqua_btn_plus a {
        bottom: -412px;
        right: 57px;
    }

    #machine_title h1{
        font-size: 54px;
    }

    #machine_presentation{
        top: 300px;
    }

    #machine_img_top{
        top: 595px;
        right: 35px;
    }

    #machine_btn_plus{
        top: 960px;
        right: 61px;
    }

    #fitness_title h1{
        font-size: 54px;
    }

    #fitness_presentation {
        top: 320px;
    }

    #fitness_img_top {
        top: 609px;
        right: 40px;
    }

    #fitness_btn_plus{
        top: 982px;
        right: 60px;
    }
}